{% extends "mybase.html" %}
{% block productop %}
<h1 style="color:red">Products to Advertise</h1>
<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th class="text-center">CATEGORYID</th>
                         <th class="text-center" style="color:blue">COUNT</th>
                         <th class="text-center" style="color:red">PRODUCTID</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val.categoryid}}</td>
                         <td style="color:blue">{{val.count}}</td>
                         <td style="color:red">{{val.productid}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>
{% endblock %}
