{% extends "mybase.html" %}
{% block tableop %}
<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>userid</th>
                         <th>user</th>
                         <th>categoryid</th>
                         <th>time</th>
                         <th>productid</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val.userid}}</td>
                         <td>{{val.user}}</td>
                         <td>{{val.categoryid}}</td>
                         <td>{{val.time}}</td>
                         <td>{{val.productid}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>
{% endblock %}
