{% extends "mybase.html" %} <!--this means that you are extending the base tempate -->
{% block table %}
<h1 style="color:red">USER SEARCH TABLE</h1>
<h4>(only users who did not buy)</h4>
<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th class="text-center">USERID</th>
                         <th class="text-center">USER</th>
                         <th class="text-center">CATEGORYID</th>
                         <th class="text-center">TIME</th>
                         <th class="text-center">PRODUCTID</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val.userid}}</td>
                         <td>{{val.user}}</td>
                         <td>{{val.categoryid}}</td>
                         <td>{{val.time}}</td>
                         <td>{{val.productid}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>
{% endblock %}


